@charset "UTF-8";

/**
 * @author Tristan Bernard <1763844@csfoy.ca>
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Formulaire
 * Mise en page
 ***
 ***
 ***
 *
 */


/* Normalize
   ========================================================================== */
@import url(_normalize.css);

/* Utilitaires
   ========================================================================== */
@import url(_utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(_typo.css);

/* Grille
   ========================================================================== */
@import url(_grille.css);

/* Formulaire
   ========================================================================== */
@import url(_form.css);

/* Mise en page
   ========================================================================== */
body {
    background: white;
}

main {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 5px 10px 8px #999;
}

fieldset {
    background: #ECECEC;
    border: 0;
    border-radius: 10px;
}

fieldset fieldset {
    /*border: 1px solid red;*/
    border: 1px solid black;
}

legend {
    font-weight: bold;
}

legend h2 {
    padding-top: 10px;
    margin-bottom: auto;
}

.prenom-nom .rangee,
.telephone .rangee,
.date .rangee {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* valeur par défaut */
    flex-wrap: wrap;
}

.date .cols_4_de_12 {
    width: 30%;
}

.prenom-nom .cols_6_de_12 {
    width: 50%;
}

.images ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.images ul li p label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 100%;
}

select {
    width: 100%;
}

input, select {
    outline-color: #349194;
}

input[type=radio] + label img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

input[type=radio]:focus + label img,
input[type=radio]:hover + label img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

input[type=radio]:checked + label {
    display: block;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    border: 2px solid black;
}

input[type=checkbox] {
    width: auto;
}

input[type=submit] {
    width: auto;
    background-color: #B9DEC3;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid black;
}

.separateur {
    text-align: center;
    font-weight: bold;
}

footer {
    background: rgb(251, 255, 234);
}

footer small {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 600px) {
    body {
        background: linear-gradient(rgb(147, 201, 183), rgb(251, 255, 234));
    }

    main {
        display: flex;
        flex-direction: row;
    }

    aside {
        background: rgba(255, 255, 255, 0.6);
        border-radius: 10px;
        height: 93.8%;
        padding: 2px 10px 2px 10px;
    }

    .images ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
